<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.demo.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/hello.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.demo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintHTMLServlet</servlet-name>
    <servlet-class>com.demo.PrintHTMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintHTMLServlet</servlet-name>
    <url-pattern>/PrintHTMLServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>likexin's blog</param-name>
    <param-value>http://likexin.org</param-value>
  </context-param>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.demo.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.demo.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseHeaderServlet</servlet-name>
    <servlet-class>com.demo.ResponseHeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseHeaderServlet</servlet-name>
    <url-pattern>/ResponseHeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.demo.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>com.demo.TestCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetSession</servlet-name>
    <servlet-class>com.demo.SetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSession</servlet-name>
    <url-pattern>/SetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSession</servlet-name>
    <servlet-class>com.demo.GetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSession</servlet-name>
    <url-pattern>/GetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetSharedVar</servlet-name>
    <servlet-class>com.demo.SetSharedVar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSharedVar</servlet-name>
    <url-pattern>/SetSharedVar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSharedRequest</servlet-name>
    <servlet-class>com.demo.GetSharedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSharedRequest</servlet-name>
    <url-pattern>/GetSharedRequest</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.demo.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.demo.MyListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>TestListener</servlet-name>
    <servlet-class>com.demo.TestListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestListener</servlet-name>
    <url-pattern>/TestListener</url-pattern>
  </servlet-mapping>
</web-app>
